doctype html
html
  head
    title J-hope's dance academy
    block scripts
    block style
  body
    nav#navbar
      ul
        div#logo
          img(src="/static/logo1.jpg")
          h4 JDA
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/") Contact Us]
    block content
    footer#footer
      | copyright © 2013 Jhopedanceacademy.com | All rights reserved
